.buttons {
	display: none;
}

body {
	background-color: #040D12;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

	display: flex;
	justify-content: center;
	
}

.appContainer{
	width: 100%;
	max-width: 600px;
}

h1 {
	color: white;
}

.container {
	background-color: #183D3D;
	text-align: center;
	border-radius: 5px;
	padding-bottom: 50px;
	padding-top: 1px;
}

.buttons {
	background-color: #183D3D;
	text-align: center;
	height: 70px;
	line-height: 70px;
	border-radius: 5px;
}


.menu {
	width: 15%;
	height: 50px;
	border-radius: 5px;
	background-color: #040D12;
	font-size: x-large;
	color: white;
}

.team1,
.team2,
.vs {
	font-size: x-large;
	height: 50px;
	line-height: 50px;
	color: white;
}

.team1 {
	background-color: rgb(16, 78, 102);
}
.team2 {
	background-color: rgb(28, 109, 90);
}
.vs {
	font-size: large;
}

input[type="text"],
select {
	font-size: x-large;
	text-align: center;
	width: 80%;
	height: 30px;
	margin-bottom: 10px;
}

#start {
	height: 50px;
	width: 30%;
	border-radius: 5px;
	background-color: #040D12;
	font-size: x-large;
	color: white;
}

.numInp {
	text-align: center;
	font-size: large;

	margin-top: 20px;
}
.bind {
	padding: 20px 0;
	height: 40px;
	color: white;
}

input[type="number"] {
	font-size: x-large;
	text-align: center;
	width: 70px;
	height: 40px;
}

#team1Num {
	color: white;
	background-color: rgb(16, 78, 102);
}

#team2Num {
	color: white;
	background-color: rgb(28, 109, 90);
}

.score {
	display: none;
	background-color: #183D3D;
	color: white;
	text-align: center;
	font-size: large;
	margin-top: 20px;
	padding: 10px 0px;
	line-height: 50px;
	border-radius: 5px;
}

strong {
	color: rgb(209, 246, 255);
	font-weight: bold;
}

/* 000 */
div a img {
	display: none;
}

.disclaimer {
	display: none;
}
